/* body */
  
  /* section */
  section {

    min-height: inherit;
  
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 15%;
  }
  
  section::before,
  section::after {
    content: "";
    display: block;
  
    border-radius: 100%;
  
    position: absolute;
  }
  
  /* section::before {
    width: 30px;
    height: 30px;
  
    background: var(--primary);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  
    top: 18px;
    left: 18px;
  } */
  
  section::after {
    width: 45px;
    height: 45px;
    top: 11px;
    left: 11px;
  }
  .dark {
    --primary: #E97451;
    --other: hsl(0, 0%, 90%);
  
    background: transparent;
  }
  
  
  /* label */
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  
    margin: 12px 0;
  
    cursor: pointer;
    position: relative;
  }
  
  
  /* input */
  input {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  
  /* .design */
  .design {
    width: 24px;
    height: 24px;
  
    border: 1px solid var(--other);
    border-radius: 100%;
    margin-right: 24px;
  
    position: relative;
  }
  
  .design::before,
  .design::after {
    content: "";
    display: block;
  
    width: inherit;
    height: inherit;
  
    border-radius: inherit;
  
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }
  
  .design:before {
    background: var(--other);
    opacity: 0;
    transition: .3s;
  }
  
  .design::after {
    background: var(--primary);
    opacity: .4;
    transition: .6s;
  }
  
  
  /* .text */
  .text {
    color: var(--other);
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
  }
  
  @media (max-width:600px){
    .text{
      font-size: 18px;
    }
  }
  
  /* checked state */
  input:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
  }
  
  
  /* other states */
  input:hover+.design,
  input:focus+.design {
    border: 1px solid var(--primary);
  }
  
  input:hover+.design:before,
  input:focus+.design:before {
    background: var(--primary);
  }
  
  input:hover~.text {
    color: var(--primary);
  }
  
  input:focus+.design::after,
  input:active+.design::after {
    opacity: .1;
    transform: scale(2);
  }
  